.hero {
    &__body {
        padding: 42px 39px 40px;
        background-color: var(--color-gray-light);
        border-radius: var(--border-radius-large-alt);

        @include desktop {
            padding: 30px;
        }

        @include mobile {
            padding: 44px 20px 32px;
            border-radius: var(--border-radius-medium-alt);
        }
    }

    &__main {
        display: grid;
        grid-template-columns: minmax(200px, 57.6%) minmax(140px, 40.4%);
        gap: 25px;

        @include tablet {
            display: flex;
            flex-direction: column;
        }

        @include mobile {
            gap: 33px;
        }
    }

    &__title {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        justify-items: center;
        margin-bottom: 12px;
        column-gap: 12px;
        line-height: 90%;

        @include tablet {
            display: flex;
            align-items: center;
        }

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
            margin-bottom: 17px;
        }

        &-group {
            margin-bottom: 76px;

            @include desktop {
                margin-bottom: 40px;
            }

            @include tablet {
                margin-bottom: 25px;
            }

            @include mobile {
                margin-bottom: 18px;
            }
        }

        &-logo {
            min-width: 250px;

            @include tablet {
                width: 300px;
            }

            @include mobile {
                width: 250px;
            }
        }
    }

    &__subtitle {
        &-text {
            @include fluid-text(48, 18);
            color: var(--color-blue);
            line-height: 120%;

            @include mobile {
                width: 80%;
                line-height: 111%;
            }
        }
    }

    &__advantages {
        &-list {
            @include mobile {
                gap: 15px;
            }
        }

        // &-text {
        //     transition: var(--transition);
        // }

        &-item {
            display: flex;
            align-items: center;
            column-gap: 14px;
            padding: 17px 19px 15px 21px;
            border-radius: var(--border-radius-medium);
            background-color: var(--color-light);
            transition: var(--transition);

            @include desktop {
                padding: 14px;
            }

            @include mobile {
                padding: 10px 19px 10px 20px;
                column-gap: 16px;
                border-radius: var(--border-radius-small);
            }

            &:nth-child(2n) {
                @include hover {
                    color: var(--color-light);
                    cursor: pointer;
                    background-color: var(--color-red);
                    .hero__advantages-text {
                        color: var(--color-light);
                    }
                    .hero__advantages-link-icon-wrapper {
                        svg {
                            color: var(--color-light);
                        }
                    }
                    .hero__advantages-icon-wrapper {
                        background-color: var(--color-light);
                        svg {
                            color: var(--color-red);
                        }
                    }
                }

                @include tablet {
                    order: 2;
                }
            }
        }

        &-icon-wrapper {
            @include flex-center;
            @include square(48px);
            flex-shrink: 0;
            border-radius: 10px;
            background-color: var(--color-red);
            transition: var(--transition);
            svg {
                color: var(--color-light);

                @include mobile {
                    width: 20px;
                }
            }

            @include mobile {
                @include square(36px);
            }
        }

        &-link {
            @include flex-center;
            width: 100%;
            column-gap: 14px;

            @include mobile {
                column-gap: 16px;
            }

            &-icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @include square(22px);
                margin-left: auto;
                svg {
                    color: var(--color-red);
                    @include mobile {
                        width: 12px;
                    }
                }
            }
        }

        &-arrow {
            @include square(20px);
            align-self: center;
        }
    }

    &__location {
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius-large-alt);

        @include mobile {
            border-radius: var(--border-radius-medium-alt);
        }
    }

    &__address {
        width: 86%;
        position: absolute;
        bottom: 26px;
        left: 7%;
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 16px 16px 16px 21px;
        background-color: var(--color-light);
        border-radius: var(--border-radius-medium);

        @include desktop {
            gap: 20px;
        }

        @include mobile {
            width: 89%;
            bottom: 20px;
            left: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 14px;
            padding: 16px;
            border-radius: 28px;
        }

        &-info {
            @include flex-between;
            gap: 16px;

            @include mobile {
                gap: 5px;
            }
        }

        &-image {
            height: auto;
            @include tablet {
                width: 10%;
            }

            @include mobile {
                width: 7%;
            }
        }

        &-text {
            color: var(--color-gray);
        }
        &-button {
            min-width: 133px;
            margin-left: auto;

            @include mobile {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
