.preparation {
    &__list {
        margin-bottom: 99px;

        @include tablet {
            margin-bottom: 80px;
        }

        @include mobile {
            gap: 15px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding: 18px 16px 16px 20px;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-gray-light);

        &:nth-child(3) {
            @include mobile {
                padding-block: 19px;
            }
        }

        @include mobile {
            padding: 10px 16px 10px 20px;
            border-radius: var(--border-radius-small);
        }
        &-icon-wrapper {
            @include flex-center;
            @include square(48px);
            flex-shrink: 0;
            border-radius: 10px;
            background-color: var(--color-red);

            @include mobile {
                @include square(36px);
            }
            svg {
                color: var(--color-light);
                @include mobile {
                    width: 20px;
                }
            }
        }

        &-text {
            line-height: 135%;
            @include mobile {
                line-height: 140%;
            }
        }
    }

    &__banner {
        @include banner;

        @include mobile {
            border-radius: var(--border-radius-medium-alt);
        }

        &-inner {
            @include flex-center;
            text-align: center;
        }

        &-body {
            padding: 48px;

            @include tablet {
                padding: 40px;
            }

            @include mobile {
                padding: 32px 16px;
            }
        }

        &-title {
            margin-bottom: 15px;
            line-height: 120%;

            @include mobile {
                line-height: 110%;
                margin-bottom: 19px;
            }
        }

        &-description {
            margin-bottom: 38px;
            @include mobile {
                margin-bottom: 24px;
            }
        }
    }
}
