@mixin fluid-text($max: 48, $min: 16) {
    font-size: clamp(#{$min}px, #{calc($max / 1440) * 100}vw, #{$max}px);
}

@mixin reset-link {
    color: inherit;

    &,
    &:hover {
        text-decoration: none;
    }
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
}

@mixin banner {
    position: relative;
    color: var(--color-light);
    background-color: var(--color-blue);
    border-radius: var(--border-radius-large-alt);
}

@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}
