@import "normalize", "fonts", "mixins", "media", "variables", "utils", "globals";

@import "blocks/header", "blocks/mobile-controls", "blocks/section", "blocks/soc1als", "blocks/logo",
    "blocks/grid", "blocks/button", "blocks/highlight-text", "blocks/icon", "blocks/hero", "blocks/analyses",
    "blocks/route-and-soc1als", "blocks/comfort-care", "blocks/comfort-care-card", "blocks/preparation",
    "blocks/documents", "blocks/footer";
